---
layout: page
commens: true
---
<div style="width: 2560px; height: 5760px; background-color: white; position: relative;">
    <img style="width: 755px; height: 750px; left: 1909px; top: 2428px; position: absolute;" src="https://via.placeholder.com/755x750"/>
    <img style="transform: rotate(-180deg); width: 1018px; height: 1011px; left: -1060px; top: 4434px; position: absolute; position: relative;" src="https://via.placeholder.com/1018x1011">
        <img style="transform: rotate(-180deg); width: 615px; height: 676px; left: 172px; top: 67px; position: absolute;" src="https://via.placeholder.com/615x676"/>
        <img style="transform: rotate(174.61deg); opacity: 0.60; width: 138.41px; height: 152.58px; left: 330.88px; top: 76.04px; position: absolute;" src="https://via.placeholder.com/138.40975952148438x152.5842742919922"/>
    </img>
    <img style="width: 456px; height: 501px; left: 2080px; top: 2378px; position: absolute;" src="https://via.placeholder.com/455.9999694824219x501.0000305175781"/>
    <div style="width: 2560px; height: 1440px; left: 0px; top: 0px; position: absolute; position: relative;">
        <img style="width: 763px; height: 764px; left: 1502px; top: 285px; position: absolute;" src="https://via.placeholder.com/763x764"/>
        <p style="width: 819px; height: 197px; left: 314px; top: 624px; position: absolute; font-size: 38px; font-weight: 500; line-height: 100%; color: black;">Passionate Engineer, ML Enthusiast.<br/>Driven by curiosity. Problem solver who
        <br/>is inspired to find solutions by applying
        <br/>technical knowledge to real life scenarios.</p>
        <p style="width: 660px; height: 109px; left: 314px; top: 473px; position: absolute; font-size: 98px; font-weight: 500; line-height: 100%; color: rgba(243, 66, 66, 1);">Jack Ilango</p>
    </div>
    <div style="width: 1121px; height: 299px; left: 678px; top: 4947px; position: absolute; background-color: rgba(243, 66, 66, 1);"/>
    <div style="width: 2587px; height: 626px; padding-top: 103px; padding-bottom: 71px; padding-left: 430px; padding-right: 1308px; left: 0px; top: 2966px; position: absolute; background-color: rgba(243, 66, 66, 1); display: inline-flex; flex-direction: column; align-items: flex-start; justify-content: flex-end;">
        <p style="width: 787px; height: 210px; font-size: 96px; font-weight: 500; line-height: 100%; color: white;">+ UI/UX & Front Developer</p>
        <div style="height: 45px;"/>
        <p style="width: 849px; height: 197px; font-size: 38px; font-weight: 500; line-height: 100%; color: white;">Worked on projects, apps and web pages built using Dart, Flutter, HTML5 and CSS with over 5+ Years of Designing Experience</p>
    </div>
    <p style="width: 819px; height: 197px; left: 365px; top: 4169px; position: absolute; font-size: 64px; line-height: 100%;">Github Repos</p>
    <p style="width: 978px; height: 410px; left: 735px; top: 5005px; position: absolute; font-size: 48px; line-height: 100%; text-align: center; color: white;">Email jackpraveenraj.work@gmail.com for any queries regarding work oppurtunities or projects.</p>
    <p style="width: 819px; height: 197px; left: 1499px; top: 2016px; position: absolute; font-size: 38px; font-weight: 500; line-height: 100%; color: black;">Worked on over 13+ Machine Learning projects ranging from NLP, Stock Market Prediction, Face Mask Detector and much more!</p>
    <p style="width: 907px; height: 162px; left: 1466px; top: 4110px; position: absolute; font-size: 48px; font-weight: 500; line-height: 100%; color: black;">Projects I’ve worked on over the years, Uploaded for the world to see.</p>
    <p style="width: 660px; height: 109px; left: 365px; top: 4055px; position: absolute; font-size: 98px; font-weight: 500; line-height: 100%; color: rgba(243, 66, 66, 1);">Jack Ilango’s</p>
    <p style="width: 660px; height: 109px; left: 1025px; top: 4760px; position: absolute; font-size: 98px; font-weight: 500; line-height: 100%; color: black;">Contact:</p>
    <p style="width: 966px; height: 231px; left: 1499px; top: 1785px; position: absolute; font-size: 84px; font-weight: 500; line-height: 100%; color: rgba(243, 66, 66, 1);">ML Enthusiat,<br/>Driven by Curiosty</p>
    <img style="width: 1536px; height: 1286px; left: 1116px; top: 2491px; position: absolute;" src="https://via.placeholder.com/1536x1286"/>
    <img style="width: 1116px; height: 788px; left: 209px; top: 1600px; position: absolute;" src="https://via.placeholder.com/1116x788"/>
    <img style="transform: rotate(-5.39deg); opacity: 0.60; width: 102.68px; height: 113.19px; left: 1556px; top: 1668px; position: absolute;" src="https://via.placeholder.com/102.67851257324219x113.19380187988281"/>
    <div style="transform: rotate(43.55deg); width: 6.23px; height: 73.54px; left: 463.85px; top: 3601px; position: absolute; background-color: rgba(243, 66, 66, 1);"/>
    <div style="transform: rotate(43.55deg); width: 6.23px; height: 73.54px; left: 531px; top: 3601px; position: absolute; background-color: rgba(243, 66, 66, 1);"/>
    <div style="transform: rotate(136.45deg); width: 6.23px; height: 73.54px; left: 463px; top: 3652.46px; position: absolute; background-color: rgba(243, 66, 66, 1);"/>
    <div style="transform: rotate(136.45deg); width: 6.23px; height: 73.54px; left: 532.41px; top: 3650.31px; position: absolute; background-color: rgba(243, 66, 66, 1);"/>
</div>
