---
layout: page
commens: true
---
<div style="width: 1366px; height: 3072px; padding-top: 157px; background-color: white; display: inline-flex; flex-direction: column; align-items: flex-end; justify-content: flex-end;">
    <img style="width: 403px; height: 404px;" src="https://via.placeholder.com/403x404"/>
    <div style="height: 201.36px;"/>
    <p style="width: 349px; height: 58px; font-size: 53.07px; font-weight: 500; line-height: 100%; color: rgba(243, 66, 66, 1);">Jack Ilango</p>
    <div style="height: 201.36px;"/>
    <p style="width: 433px; height: 104px; font-size: 20.58px; font-weight: 500; line-height: 100%; color: black;">Passionate Engineer, ML Enthusiast.<br/>Driven by curiosity. Problem solver who
    <br/>is inspired to find solutions by applying
    <br/>technical knowledge to real life scenarios.</p>
    <div style="height: 201.36px;"/>
    <img style="width: 590px; height: 417px;" src="https://via.placeholder.com/590x417"/>
    <div style="height: 201.36px;"/>
    <p style="width: 511px; height: 122px; font-size: 45.49px; font-weight: 500; line-height: 100%; color: rgba(243, 66, 66, 1);">ML Enthusiat,<br/>Driven by Curiosty</p>
    <div style="height: 201.36px;"/>
    <p style="width: 433px; height: 104px; font-size: 20.58px; font-weight: 500; line-height: 100%; color: black;">Worked on over 13+ Machine Learning projects ranging from NLP, Stock Market Prediction, Face Mask Detector and much more!</p>
    <div style="height: 201.36px;"/>
    <img style="width: 241px; height: 264px;" src="https://via.placeholder.com/240.99996948242188x264.0000305175781"/>
    <div style="height: 201.36px;"/>
    <img style="width: 399px; height: 397px;" src="https://via.placeholder.com/398.9999694824219x397.0000305175781"/>
    <div style="height: 201.36px;"/>
    <img style="width: 812px; height: 680px;" src="https://via.placeholder.com/812x680"/>
    <div style="height: 201.36px;"/>
    <div style="width: 1367px; height: 331px; padding-top: 55px; padding-bottom: 37px; padding-left: 227px; padding-right: 691px; background-color: rgba(243, 66, 66, 1); display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-end;">
        <p style="width: 416px; height: 111px; font-size: 51.99px; font-weight: 500; line-height: 100%; color: white;">+ UI/UX & Front Developer</p>
        <div style="height: 24px;"/>
        <p style="width: 449px; height: 104px; font-size: 20.58px; font-weight: 500; line-height: 100%; color: white;">Worked on projects, apps and web pages built using Dart, Flutter, HTML5 and CSS with over 5+ Years of Designing Experience</p>
    </div>
    <div style="height: 201.36px;"/>
    <p style="width: 349px; height: 58px; font-size: 53.07px; font-weight: 500; line-height: 100%; color: rgba(243, 66, 66, 1);">Jack Ilango’s</p>
    <div style="height: 201.36px;"/>
    <p style="width: 479px; height: 86px; font-size: 25.99px; font-weight: 500; line-height: 100%; color: black;">Projects I’ve worked on over the years, Uploaded for the world to see.</p>
    <div style="height: 201.36px;"/>
    <p style="width: 433px; height: 104px; font-size: 34.66px; line-height: 100%;">Github Repos</p>
    <div style="height: 201.36px;"/>
    <p style="width: 348px; height: 57px; font-size: 53.07px; font-weight: 500; line-height: 100%; color: black;">Contact:</p>
    <div style="height: 201.36px;"/>
    <div style="width: 593px; height: 159px; background-color: rgba(243, 66, 66, 1);"/>
    <div style="height: 201.36px;"/>
    <p style="width: 517px; height: 217px; font-size: 25.99px; line-height: 100%; text-align: center; color: white;">Email jackpraveenraj.work@gmail.com for any queries regarding work oppurtunities or projects.</p>
    <div style="height: 201.36px;"/>
    <img style="transform: rotate(-5.39deg); opacity: 0.60; width: 54.28px; height: 59.84px;" src="https://via.placeholder.com/54.27879333496094x59.83747100830078"/>
    <div style="height: 201.36px;"/>
    <div style="transform: rotate(43.55deg); width: 3.29px; height: 38.88px; background-color: rgba(243, 66, 66, 1);"/>
    <div style="height: 201.36px;"/>
    <div style="transform: rotate(43.55deg); width: 3.29px; height: 38.88px; background-color: rgba(243, 66, 66, 1);"/>
    <div style="height: 201.36px;"/>
    <div style="transform: rotate(136.45deg); width: 3.29px; height: 38.88px; background-color: rgba(243, 66, 66, 1);"/>
    <div style="height: 201.36px;"/>
    <div style="transform: rotate(136.45deg); width: 3.29px; height: 38.88px; background-color: rgba(243, 66, 66, 1);"/>
    <div style="height: 201.36px;"/>
    <img style="transform: rotate(-180deg); width: 538px; height: 535px; position: relative;" src="https://via.placeholder.com/538x535">
        <img style="transform: rotate(-180deg); width: 325px; height: 357px; left: 91px; top: 36px; position: absolute;" src="https://via.placeholder.com/325x357"/>
        <img style="transform: rotate(174.61deg); opacity: 0.60; width: 73.17px; height: 80.66px; left: 174.91px; top: 40.66px; position: absolute;" src="https://via.placeholder.com/73.16735076904297x80.660400390625"/>
    </img>
</div>
