---
layout: page
commens: true
---
<div class="inline-flex flex-col space-y-52 items-end justify-end pt-40 bg-white" style="width: 1366px; height: 3072px;">
    <p class="w-1/4 h-14 text-5xl font-medium text-red-500">Jack Ilango</p>
    <p class="text-xl font-medium" style="width: 433px; height: 104px;">Passionate Engineer, ML Enthusiast.<br/>Driven by curiosity. Problem solver who
    <br/>is inspired to find solutions by applying
    <br/>technical knowledge to real life scenarios.</p>
    <p class="text-5xl font-medium text-red-500" style="width: 511px; height: 122px;">ML Enthusiat,<br/>Driven by Curiosty</p>
    <p class="text-xl font-medium" style="width: 433px; height: 104px;">Worked on over 13+ Machine Learning projects ranging from NLP, Stock Market Prediction, Face Mask Detector and much more!</p>
    <img class="w-1/6 h-64" src="https://via.placeholder.com/240.99996948242188x264.0000305175781"/>
    <div class="flex flex-col space-y-6 items-start justify-end pl-56 pr-96 pt-14 pb-9 bg-red-500" style="width: 1367px; height: 331px;">
        <p class="text-5xl font-medium text-white" style="width: 416px; height: 111px;">+ UI/UX & Front Developer</p>
        <p class="text-xl font-medium text-white" style="width: 449px; height: 104px;">Worked on projects, apps and web pages built using Dart, Flutter, HTML5 and CSS with over 5+ Years of Designing Experience</p>
    </div>
    <p class="w-1/4 h-14 text-5xl font-medium text-red-500">Jack Ilango’s</p>
    <p class="text-2xl font-medium" style="width: 479px; height: 86px;">Projects I’ve worked on over the years, Uploaded for the world to see.</p>
    <p class="text-4xl" style="width: 433px; height: 104px;">Github Repos</p>
    <p class="w-1/4 h-14 text-5xl font-medium">Contact:</p>
    <div class="bg-red-500" style="width: 593px; height: 159px;"/>
    <p class="text-2xl text-center text-white" style="width: 517px; height: 217px;">Email jackpraveenraj.work@gmail.com for any queries regarding work oppurtunities or projects.</p>
    <img class="transform -rotate-6 opacity-60 w-14 h-14" src="https://via.placeholder.com/54.27879333496094x59.83747100830078"/>
    <div class="transform rotate-45 w-1 h-10 bg-red-500"/>
    <div class="transform rotate-45 w-1 h-10 bg-red-500"/>
    <div class="transform rotate-180 w-1 h-10 bg-red-500"/>
    <div class="transform rotate-180 w-1 h-10 bg-red-500"/>
    <img class="relative transform -rotate-180" style="width: 538px; height: 535px;" src="https://via.placeholder.com/538x535">
        <img class="transform -rotate-180 w-80 h-96 absolute" style="left: 91px; top: 36px;" src="https://via.placeholder.com/325x357"/>
        <img class="transform rotate-180 opacity-60 w-20 h-20 absolute" style="left: 174.91px; top: 40.66px;" src="https://via.placeholder.com/73.16735076904297x80.660400390625"/>
    </img>
</div>
