---
layout: page
---
{% assign profile = site.theme_settings.profile %}

</div><!-- This Tag means End .container -->
<div id="protfolio">
  <section id="about-me">
    <div class="row">
      <div class="img-wrap col-12 col-md-4">
        <div class="img">
          <img src="{{ site.baseurl }}/{{ profile.image }}" alt="user_image">
        </div>
      </div>
      <div class="text-wrap col-12 col-md-8">
        <h2 class="username">{{ profile.username }}</h2>
        <p class="description">{{ profile.description }}</p>

        <ul id="icons">
          {% include icons.html %}
        </ul>
      </div>
    </div>
    <div class="bg"></div>
  </section>
  <!-- career section -->
  <section id="career" class="row">
    <article class="exper col-12 col-md-6">
      <p class="title">EXPERIENCE</p>
      <ul class="exper-list">
        {% for exp in  profile.experience %}
        <li class="meta">
          <p class="date">{{ exp.start }} ~ {{ exp.end }}</p>
          <p class="description">{{ exp.experience }}</p>
        </li>
        {% endfor %}
      </ul>
    </article>
    <article class="skills col-12 col-md-6">
      <p class="title">SKILLS</p>
      <ul class="skill-list">
        {% for _ in profile.skills %}
        <li class="skill">
          <p class="name">{{ _.skill }}</p>
        </li>
        {% endfor %}
      </ul>
    </article>
      <article class="project col-12 col-md-6">
      <p class="title">Projects</p>
      <h1 class="title">Blood Donation Networking App (REDLINK)</h1>
      <section class="project1">
      A fully functioning Blood Donation Networking App made using Dart and Flutter and Implemented in C++ and Google Firebase. The software allows users to find Blood Donors at a time of emergencies in Real Time. It has built-in Google OAuth support for email verification and integrated Blood compatibility modules for making the blood donation process hassel-free. <br><br>
      Github Repository:  <a href="https://github.com/jackpraveenraj/Red-Link-App</a> <br><br>
      </section>
      </article>
      <article class="project2 col-12 col-md-6">
      <h1 class="title">Stock Price Prediction Using Stacked LSTM</h1>
      <section class="project2">
      A fully functioning Stock Price Prediction Software made using Python And Streamlit (Stacked LSTM model). The software allows users to estimate price of stock based on the historical data for the next 30 days. It also provides an instantaneous visualization of the market index in Real Time a neatly formatted Python-Based Web App.<br><br>
      Github Repository:  <a href="https://github.com/jackpraveenraj/Stock-Prediction-Using-Stacked-LSTM></a> <br><br>
      </section>
      </ul>
    </article>
  </section>
</div>
