$theme-color : #f34242;
$theme-bright : #f34242;
$theme-dark : #f34242;
$theme-dark2 : #f34242;
$text : rgba(9, 23, 45, 1);
$text-gray : rgba(240, 242, 246, 1);

%page-padding {
    padding : 0px 15%!important;
    @media (max-width: 991px) {
        padding: 0px 10%!important;
    }
    @media (max-width: 576px) {
        padding: 0px 15px!important;
    }
}
%posts-padding {
    @media (max-width: 991px) {
        padding: 0px 10%!important;
    }
    @media (max-width: 576px) {
        padding: 0px!important;
    }
}
%page-nav-btn {
    right : 5%;
    @media (max-width: 991px) {
        right : 3%;
    }
}
